/* src/css/settings/_variables.css */
:root {
  /* Disney+ Dark Cinematic Palette */
  --bg-deep: #040714;
  --bg-card: #1a1d29;
  --bg-card-private: #ef444457;
  --bg-card-private-hover: #f3575785;
  --bg-private: #ef4444;
  --bg-private-hover: #dc2626;
  --bg-public: #10b981;
  --bg-public-hover: #059669;
  --bg-selected: #0063e5;
  --accent-blue: #0063e5;
  --accent-blue-hover: #0072ff;
  --text-main: #f9f9f9;
  --text-muted: #cacaca;
}
