<div class="meta-workspace-card">
  <div class="header-row">
    <div class="studio-controls-group">
      <div class="input-field-group">
        <select
          x-model="active.title"
          @change="$store.review.syncStore($store.review.currentIndex, active.title)"
        >
          <option value="playlist 1">playlist 1</option>
          <option value="playlist 2">playlist 2</option>
        </select>
      </div>

      <button
        @click="$store.review.toggleStatus($store.review.currentIndex)"
        type="button"
        class="btn-public"
      >
        <span>Add to playlist</span>
      </button>
    </div>
  </div>
</div>
